
.questions-wrapper {
    display: flex;
    gap: 20px;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #2c4430f5, #171717f5);
    flex-wrap: wrap;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    padding: 80px 0px;    
    min-height: 100vh;
    max-width: 520px;
}

.helps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: linear-gradient(0deg, var(--primary-color-dark) 0%, var(--primary-color) 75%);
    position: relative;
    border-radius: 0px 4px 4px 0px;
    padding: 24px 24px 24px 44px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
}

.logo-sm { 
    width: 152px;
    position: absolute;
    top: -60px;
    left: 20px;
}

#options { 
    padding: 0px 24px 0px 44px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 0px 44px;
}





@media screen and (max-width: 620px) {
    .header {
        font-size: 18px;
        padding: 18px 18px 18px 44px;
        width: auto;
    }
    .questions {
        min-width: 100%;
    }
}