
.questions-wrapper {
    display: flex;
    background-repeat: space;
    height: 100vh;
    position: relative;
}

.header {
    position: relative;
    background: linear-gradient(140deg, #13CE7D, #0EC062);
    position: relative;
    width: 110%;
    border-radius: 0px 4px 4px 0px;
    padding: 24px 24px 24px 44px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.logo-sm { 
    width: 156px;
    position: absolute;
    top: -60px;
    left: 20px;
}

#options { 
    padding: 0px 24px 0px 44px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    max-width: 480px;
    z-index: 1;
    padding: 44px 0px;
    background: linear-gradient(45deg, #2c4430f5, #171717f5);
}

.actions {
    padding: 0px 24px 0px 44px;
}

@media screen and (max-width: 620px) {
    .header {
        font-size: 18px;
        padding: 18px 18px 18px 44px;
        width: auto;
    }
    .questions {
        width: auto;
    }
}