

.option { 
    display: flex;
}

.hide {
    visibility: hidden;
}

.option-number-wrapper {
    background: #1a6dff;
    padding: 0px 0px 0px 14px;
    border-radius: 4px 0px 0px 4px;
}

.option-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#393939, #222222);
    padding: 4px 24px;
    transform: skew(24deg);
    border-radius: 4px 0px 0px 4px;
    margin-right: -10px;
    height: 100%;
}

.option-number:after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: -4px;
    border-right: 6px solid #73D2FF;
    box-shadow: 0px 0px 6px 0px #1a6dff;;
}

.number {
    transform: skew(-24deg);
    font-size: 33px;
    color: #176bf8;
    line-height: 1;
    font-weight: 700;
}

.option-answer {
    width: 100%;
    background: #1a6dff;
    border-radius: 0px 4px 4px 0px;
    margin-left: -12px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2px 0;
}

input[type=radio]:checked + .option .option-number-wrapper{
    background: #F8D237;
}

input[type=radio]:checked + .option .option-number {
    background: #a48216;
}

input[type=radio]:checked + .option .option-number:after {
    border-color: #F8D237;
    box-shadow: 0px 0px 6px 0px #f8d237;
}

input[type=radio]:checked + .option .number {
    color: #D9EBFB;
}

.d-none {
    display: none;
}

.correct .option-answer, .correct .option-number-wrapper {
    background: #13CE7D !important;
}

.correct .number {
    color: #13CE7D !important;
}

.correct .option-number:after {
    border-right: 6px solid #2bff8e !important;
    box-shadow: 0px 0px 6px 0px #13CE7D !important;
}

.correct .option-number {
    background: linear-gradient(#393939, #222222) !important;
}


@media screen and (max-width: 780px) {
    .option-answer {
        font-size: 18px;
    }
    .number {
        font-size: 28px;
    }
    .option-number {
        padding: 2px 18px;
    }
}