#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: no-repeat, linear-gradient(45deg, #2c4430f5, #171717f5);

}

#welcome div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    width: 230px;
}

