* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', system-ui;
  color: #fff;
}

body {
  background: #000;
  min-height: 100vh;
  height: 100%;
}

img {
  max-width: 100%;
}


