* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', system-ui;
  color: #fff;
}

body {
  background: #000;
  min-height: 100vh;
  height: 100%;
}

img {
  max-width: 100%;
}

button {
  color: #0EC062;
  background-color: #05562b;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 18px;
  border: none;
}

button:hover {
 filter: brightness(0.9); 
 cursor: pointer;
}

button:active {
  filter: brightness(0.8); 
}
